 html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
div.container{
	border: 1px solid #cccccc;
	background-color: white; 
	padding: 0px;
}
div.tab-content{
	margin-left: 2%;
	margin-right: 2%;
}
div.panel-heading{
	background-color:#F6F6F6;
	overflow: scroll;
}
div.panel-body{
	background-color:white;
	overflow: scroll;
}
.nav-tabs>li>a {
  color:#cccccc;
  outline: none;
}
button.navigation{
	border:none;
	background-color:transparent;
	outline:none;
	display:inline;
	margin-left:10%;
	margin-top:50%;
}

p.naviP{
	display: inline;
	color:white;
}

div.dataOutline{
	border:none;
}
div.roundDiv{
	border-radius:5px;
}
div.roundTopDiv{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
object.pdfObj{
	height: 500%;
	width: 100%;
}
